.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 80vh;
  min-width:450px;
}

.signin-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  width: 800px;
  min-width: 450px; 
  max-height: 90vh; 
  overflow-y: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}

.signin-card h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #032b55;
  font-size: 32px;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.input-container .icon {
  margin-right: 10px;
  color: #032b55;
}

.input-container input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  flex: 1;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.row .input-container {
  flex: 1;
}

.signup-button {
  width: 100%;
  padding: 12px;
  background-color: #032b55;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-button:hover {
  background-color: #054f91;
}
.popup-close {
  position: absolute;
  top: 12px;
  right: 14px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #555;
  cursor: pointer;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
